.logo-header {
    width: 20%;
    
}

.button-intern{
    text-align: center;
}

.button-grad{
    text-align: center;
}


button.btn.btn-primary{
    margin: 10px !important;
    
}

.welcomeTitle{
    text-align: center;
}

.getStarted{
    text-align: center;
}